
$roboto: 'Roboto',sans-serif;
$raleway: 'Raleway',sans-serif;



$white-color: #fff;
$primary-color: #e7015e;
$primary-dark: #d20055;
$secondary-color: #3b1d82;
$blue-bg: #120f4e;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #a9a9a9;
